html, body {height: 100%;background: #F0F0F0;}
#wrap {min-height: 100%;}
#main {overflow:auto;padding-bottom: 35px;}
#footer {position: relative;margin-top: -35px;height: 35px;clear:both;}
body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px;/}
div#box {margin-left: auto;margin-right: auto;width: 35em;padding: 1em;background: white;}
.rounded-corners {-moz-border-radius: 20px;-webkit-border-radius: 20px;-khtml-border-radius: 20px;border-radius: 20px;}
div#footer {float: right;padding-right: 1em;}
img#github {position: absolute;top: 0;right: 0;border: 0;}
